<html>

<head>
<title>{{title}} Status</title>
<link rel="stylesheet" href="https://unpkg.com/modern-normalize/modern-normalize.css"/>
<style>
body {
background: black;
color: #ccc;
font-family: Ubuntu, sans-serif;
}
main {
}
</style>
</head>

<body>
<main>
Status
</main>
</body>

</html>